.Calculator {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  color: #ffffff;
}

.Calculator-footer {
  margin-bottom: 0.3em;
}

.Calculator-form {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.Calculator-input {
  font-size: inherit;
  font-family: monospace;
  padding: 0.3em 0.5em;
  max-width: 6em;
  background: #53565c;
  margin-bottom: 0.5em;
  border: 1px solid #53565c;
  color: #ffffff;
  padding-left: 0;
}

.Calculator-checkbox {
  font-size: inherit;
  width: 0.7em;
  height: 0.7em;
}

.Calculator-select {
  margin-left: 1em;
  padding: 0.4em 0.5em;
}

.Calculator-label {
  margin-left: 0.5em;
  user-select: none;
}

.Calculator-table {
  width: 100%;
  text-align: left;
}

.Calculator-link {
  color: #007bff;
}

.Calculator-input-section {
  background-color: #53565c;
  padding: 2%;
}

.Calculator-list1 {
  color: #ab464a;
}

.Calculator-list2 {
  color: #477762;
}

.Calculator-list3 {
  color: #376577;
}

.Calculator-list-right {
  padding: 0.5rem 0 0.5rem 2rem !important;
}

td.Calculator-value {
  border-bottom: 1px solid #ffffff;
}
