.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  color: #FFFFFF;
}

.App-header {
}

.App-content {
}

.App-content p {
  text-align: left;
}

.App-footer {
}

.App-form {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.App-input {
  font-size: inherit;
  font-family: monospace;
  padding: 0.3em 0.5em;
  max-width: 6em;
  background: #53565C;
  margin-bottom: 0.5em;
  border: 1px solid #53565C;
  color: #FFFFFF;
  padding-left: 0;
}

.App-checkbox {
  font-size: inherit;
  width: 0.7em;
  height: 0.7em;
}

.App-label {
  margin-left: 0.5em;
}

.App-table {
  width: 100%;
  text-align: left;
}

.App-link {
  color: #007bff;
}

.App-input-section {
  background-color: #53565C;
  padding: 2%;
}

.App-list1 {
  color: #AB464A;
}

.App-list2 {
  color: #477762;
}

.App-list3 {
  color: #376577;
}

.App-list-right {
  padding-left: 2rem !important;
}

tr.App-row td {
  border-bottom: 1px solid #FFFFFF;
}