.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
}

.App-content {
}

.App-footer {
}

.App-form {
  font-size: 2em;
}

.App-input {
  font-size: inherit;
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  max-width: 6em;
  background: rgba(255, 255, 255, 0.8);
}

.App-checkbox {
  font-size: inherit;
  width: 0.7em;
  height: 0.7em;
}

.App-label {
  margin-left: 0.5em;
}

.App-list {
  text-align: left;
  clear: both;
  overflow: auto;
  padding: 0 1em;
}
.App-list > dt {
  float: left;
  clear: right;
}
.App-list > dd {
  float: right;
}
 
.App-link {
  color: #007bff;
}
